Programs:
<ul>
  <% @programs.each do |program| %>
    <li>
      <%= link_to program.name,
                  nameable_path(
                    program.class.to_s.underscore,
                    program.id
                  ) %>
    </li>
  <% end %>
</ul>

Priorities:
<ul>
  <% @priorities.each do |priority| %>
    <li>
      <%= link_to priority.name,
                  nameable_path(
                    priority.class.to_s.underscore,
                    priority.id
                  ) %>
    </li>
  <% end %>
</ul>

Spending Agencies:
<ul>
  <% @spending_agencies.each do |spending_agency| %>
    <li>
      <%= link_to spending_agency.name,
                  nameable_path(
                    spending_agency.class.to_s.underscore,
                    spending_agency.id
                  ) %>
    </li>
  <% end %>
</ul>
