Programs:
<ul>
  <% @programs.each do |program| %>
    <li>
      <%= link_to program.name,
                  program_path(program) %>
    </li>
  <% end %>
</ul>

Priorities:
<ul>
  <% @priorities.each do |priority| %>
    <li>
      <%= priority.name %>
    </li>
  <% end %>
</ul>

Spending Agencies:
<ul>
  <% @spending_agencies.each do |spending_agency| %>
    <li>
      <%= spending_agency.name %>
    </li>
  <% end %>
</ul>
