<h1>
  <%= @nameable.name %>
</h1>

<h2>
  Names:
</h2>

<ul>
  <% if @nameable.names.each do |name| %>
    <li>
      <%= name.text %>
    </li>
  <% end.empty? %>
    <li>
      No names for this budget item
    </li>
  <% end %>
</ul>

<hr />

<h2>
  Spent Finances:
</h2>
<ul>
  <% if @nameable.spent_finances.each do |spent_finance| %>
    <li>
      <%= "#{spent_finance.start_date} - #{spent_finance.end_date}: #{spent_finance.amount_pretty}" %>
    </li>
  <% end.empty? %>
    <li>
      No spent finances for this budget item
    </li>
  <% end %>
</ul>

<h2>
  Planned Finances:
</h2>
<ul>
  <% if @nameable.all_planned_finances.each do |planned_finance| %>
    <li>
      <%= "#{planned_finance.time_period.to_s}: #{planned_finance.amount_pretty} (Announced: #{planned_finance.announce_date})#{"*" if planned_finance.most_recently_announced}" %>
    </li>
  <% end.empty? %>
    <li>
      No planned finances for this budget item
    </li>
  <% end %>
</ul>
