<h1>
  <%= @nameable.name %>
</h1>

<h2>
  Names:
</h2>

<ul>
  <% if @nameable.names.each do |name| %>
    <li>
      <%= name.text %>
    </li>
  <% end.empty? %>
    <li>
      No names for this program :/
    </li>
  <% end %>
</ul>

<hr />

<h2>
  Spent Finances:
</h2>
<ul>
  <% if @nameable.spent_finances.order(:start_date).each do |spent_finance| %>
    <li>
      <%= "#{spent_finance.start_date} - #{spent_finance.end_date}: #{spent_finance.amount_pretty}" %>
    </li>
  <% end.empty? %>
    <li>
      No spent finances for this program :(
    </li>
  <% end %>
</ul>
